<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- *************************************************************************************
  If this comment is not here anymore and formatting is gone, the target platform has been 
  edited in the graphical target platform editor and might be broken now. Take care when 
  editing this file and verify changes manually before checking in. 
  **************************************************************************************** -->
<target includeMode="feature" name="Boomslang Remote Target Platform" sequenceNumber="1">

  <locations>

    <!-- The base: eclipse core, modelling dependencies, maven integration -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.10.1.v20150204-1700"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.10.2.v20150123-0348"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.2.v20150202-0452"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.7.0.v201409021027"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="1.5.1.20150109-1820"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.9.101.201408150207"/>
      <repository location="http://download.eclipse.org/releases/luna/201502271000"/>
    </location>

    <!-- xtext, xtend and xpect are used to provide language support for writing specification in a Gherkin-like language -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.10.0.v201605250459"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.10.0/"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.xpect.sdk.feature.group" version="0.1.0.201508191347"/>
      <repository location="http://www.xpect-tests.org/updatesite/nightly/"/>
    </location>

    <!-- SVN support is provided to allow one-click installation based on a bare Eclipse Luna -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.team.svn.feature.group" version="3.0.4.I20160131-1700"/>
      <unit id="org.eclipse.team.svn.m2e.feature.group" version="3.0.0.I20150529-1700"/>
      <repository location="http://download.eclipse.org/technology/subversive/3.0/update-site/"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.sonatype.m2e.subversive.feature.feature.group" version="0.13.0.201302121311"/>
      <repository location="http://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-subversive/0.13.0/N/0.13.0.201302121311"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.polarion.eclipse.team.svn.connector.feature.group" version="5.0.2.I20151228-1700"/>
      <unit id="org.polarion.eclipse.team.svn.connector.svnkit18.feature.group" version="5.0.2.I20151228-1700"/>
      <repository location="http://community.polarion.com/projects/subversive/download/eclipse/5.0/update-site/"/>
    </location>

    <!-- Feature files are translated to groovy code to make specification executable. Spock is used to execute the generated tests. -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.codehaus.groovy24.feature.feature.group" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.jdt.patch.feature.group" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="2.9.2.xx-201509250011-e44"/>
      <unit id="org.codehaus.groovy.m2eclipse.feature.feature.group" version="2.9.2.xx-201509250011-e44"/>
      <repository location="http://dist.springsource.org/snapshot/GRECLIPSE/e4.4"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.wireframesketcher.model.patch.feature.group" version="0.0.0"/>
      <unit id="com.wireframesketcher.feature.group" version="0.0.0"/>
      <!-- A local repository is used to allow testing wfs and boomslang together before commit+deploy
           maven-replacer-plugin is responsible to fill the /home/dokaspar/projects/stmp/A00-testing/boomslang_core/org.boomslang.targetplatform.remote/.. placeholder in this template.
           The final target definition will land next to the pom.xml and can be loaded in eclipse. -->
      <repository location="file:///home/dokaspar/projects/stmp/A00-testing/boomslang_core/org.boomslang.targetplatform.remote/../../boomslang_wfs/com.wireframesketcher.model.repository.remote/target/repository/"/>
    </location>

  </locations>

</target>
